<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">org.hibernate.dialect.MySQLDialect</property>
    <property name="hibernate.connection.driver_class">com.mysql.jdbc.Driver</property>
    <property name="hibernate.connection.url">jdbc:mysql://localhost:3306/xml_project?zeroDateTimeBehavior=convertToNull</property>
    <property name="hibernate.connection.username">root</property>
    <property name="hibernate.connection.password">123456</property>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblTagsProduct"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblCardCode"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblBids"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblBidHistory"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblUsers"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblTags"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblCategory"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblUserInfo"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.User"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblOrderHistory"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.UserProfile"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblProduct"/>
    <mapping class="com.vteam.xml_project.hibernate.orm.TblUserPayment"/>
  </session-factory>
</hibernate-configuration>
