/* 
    Document   : admin
    Created on : Mar 10, 2013, 2:25:24 PM
    Author     : Lenovo
    Description:
        Purpose of the stylesheet follows.
*/
a:hover{
    text-decoration: none;
}
body {
    background: #E9E9E9 url(../img/body-bg.png) repeat 0 0;
}
.navbar-inner{
    height: 80px;
    background: #3A3A3A;
    background-image: -moz-linear-gradient(top, #414141, #323232);
    background-image: -ms-linear-gradient(top, #414141, #323232);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#414141), to(#323232));
    background-image: -webkit-linear-gradient(top, #414141, #323232);
    background-image: -o-linear-gradient(top, #414141, #323232);
    background-image: linear-gradient(top, #414141, #323232);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#414141', endColorstr='#323232', GradientType=0);
    border-bottom: 1px solid #000;
}

.navbar-fixed-top .container >ul >li{
    float: left;
    min-width: 90px;
    height: 80px;
    padding: 0;
    margin: 0;
    text-align: center;
    list-style: none;
    border-left: 1px solid #4A4A4A;
    border-right: 1px solid #292929;
}

.navbar-fixed-top .container >ul >li.active >a{
    background: #333;
    color: #F90;
}
.navbar-fixed-top .container >ul >li >a{
    display: block;
    height: 100%;
    padding: 0 15px;
    font-size: 12px;
    font-weight: bold;
    color: #636363;
    text-shadow: 1px 1px 1px rgba(0,0,0,.2);
}

.navbar-fixed-top .container >ul >li >a >i{
    display: inline-block;
    width: 24px;
    height: 24px;
    margin-top: 17px;
    margin-bottom: .25em;
    font-size: 28px;
}
.navbar-fixed-top .container >ul >li >a >span{
    display: block;
}

.widget{
    position: relative;
    clear: both;
    width: auto;
    margin-bottom: 2em;
    overflow: hidden;
}
.widget-header{
    position: relative;
    height: 40px;
    line-height: 40px;
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    border: 1px solid #D5D5D5;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    -webkit-background-clip: padding-box;
}

.widget-header [class^="icon-"], .widget-header [class*=" icon-"] {
    display: inline-block;
    margin-left: 13px;
    margin-right: -2px;
    font-size: 16px;
    color: #555;
    vertical-align: middle;
}

.widget-header h3 {
    position: relative;
    top: 2px;
    left: 10px;
    display: inline-block;
    margin-right: 3em;
    font-size: 14px;
    font-weight: 800;
    color: #555;
    line-height: 18px;
    text-shadow: 1px 1px 2px rgba(255,255,255,.5);
}

.widget-content{
    padding: 20px 15px 15px;
    background: #FFF;
    border: 1px solid #D5D5D5;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    zoom: 1;
}
.widget-content:before, .widget-content:after {
    content: "";
    display: table;
    clear: both;
}
.widget-header+.widget-content {
    border-top: none;
    -webkit-border-top-left-radius: 0;
    -webkit-border-top-right-radius: 0;
    -moz-border-radius-topleft: 0;
    -moz-border-radius-topright: 0;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}
.main{
    padding-top: 8em;
}
.stats {
    width: 100%;
    display: table;
    padding: 0 0 0 10px;
    margin-top: .5em;
    margin-bottom: 1.9em;
}

.stats .stat {
    display: table-cell;
    width: 40%;
    vertical-align: top;
    font-size: 11px;
    font-weight: bold;
    color: #999;
}
.stat-value {
    display: block;
    margin-bottom: .55em;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: -2px;
    color: #444;
}

.widget-nopad .widget-content {
    padding: 0;
}

.news-items {
    margin: 1em 0 0;
}

.news-items li {
    display: table;
    padding: 0 2em 0 1.5em;
    padding-bottom: 1em;
    margin-bottom: 1em;
    border-bottom: 1px dotted #CCC;
}
.news-item-detail {
    display: table-cell;
}
.news-item-title {
    font-size: 13px;
    font-weight: 600;
}
.news-item-preview {
    margin-bottom: 0;
    color: #777;
    width: 400px;
}
.news-item-date {
    width: 75px;
    vertical-align: middle;
    text-align: right;
    display: table-cell;
}
.news-item-day {
    display: block;
    margin-bottom: .25em;
    font-size: 24px;
    color: #888;
}
.news-item-month {
    display: block;
    padding-right: 1px;
    font-size: 12px;
    font-weight: 600;
    color: #888;
}
.news-items li:last-child {
    padding-bottom: 0;
    border: none;
}

.shortcuts {
    text-align: center;
}
.shortcuts .shortcut {
    width: 22.50%;
    display: inline-block;
    padding: 12px 0;
    margin: 0 .9% 1em;
    vertical-align: top;
    text-decoration: none;
    background: #F3F3F3;
    border-radius: 5px;
}
.shortcuts .shortcut .shortcut-icon {
    margin-top: .25em;
    margin-bottom: .25em;
    font-size: 32px;
    color: #888;
}
.shortcuts .shortcut-label {
    display: block;
    font-weight: 400;
    color: #666;
}
.uneditable-input{
    border-color: #dddddd;
}
.form-horizontal .form-actions {
    margin-top: 0;
    margin-bottom: 0;
}
.widget-content .control-label{
    text-align: left;
    width: 100px;
}
.widget-content .controls{
    margin-left: 30px;
}
.widget-content .controls-button{
    border-top: 1px solid #CCC;
}
.widget-content .controls-button .btn{
    margin-top: 5px;
    float:  right;
    margin-left: 8px;
    width: 65px;
}
.widget-table .widget-content {
    padding: 0;
}
.widget-table .table {
    margin-bottom: 0;
    border: none;
}
.action-table .btn-small {
    padding: 4px 5px 5px;
    font-size: 14px;
}
.action-table .td-actions .btn {
    margin-right: .5em;
}
.action-table .td-actions {
    width: 80px;
    text-align: center;
}
.btn-icon-only {
    padding-right: 3px;
    padding-left: 3px;
}
.widget-table .table tr th:first-child {
    border-left: none;
}
.table-bordered th {
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    font-size: 10px;
    color: #444;
    text-transform: uppercase;
}
.widget-table .table tr td:first-child {
    border-left: none;
}
.table td {
    vertical-align: middle;
}
.pagination-bar{
    background: #E9E9E9;
    background: -moz-linear-gradient(top, #FAFAFA 0%, #E9E9E9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#FAFAFA), color-stop(100%,#E9E9E9));
    background: -webkit-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -o-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: -ms-linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    background: linear-gradient(top, #FAFAFA 0%,#E9E9E9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9');
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#FAFAFA', endColorstr='#E9E9E9')";
    font-size: 10px;
    color: #444;
    text-transform: uppercase;
    height: 36px;
    border-top: 1px solid #D5D5D5;
}
.pagination-bar .ui-button{
    font-size: 12px;
    padding: 4px 10px !important;
    border-style: solid;
    border-width: 1px;
    border-color: #dddddd #dddddd #cccccc;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
    display: inline-block;
    line-height: 16px;
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    color: #333333;
    text-shadow: 0 1px 0 #ffffff;
    margin-right: 0;
    float: right;
    margin-top: 4px;
}
.pagination-bar .ui-button:hover{
    background-color: #e8e8e8;
    background-image: -moz-linear-gradient(center top , #f0f0f0, #dadada);
    background-image: -ms-linear-gradient(top, #f0f0f0, #dadada);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#f0f0f0), to(#dadada));
    background-image: -webkit-linear-gradient(top, #f0f0f0, #dadada);
    background-image: -o-linear-gradient(top, #f0f0f0, #dadada);
    background-image: linear-gradient(top, #f0f0f0, #dadada);
    color: #222222;
    text-shadow: 0 1px 0 #ffffff;
    cursor: pointer;
}
.pagination-bar .ui-button-diable{
    color: #AAAAAA !important;
    opacity: .35;
}
.pagination-bar .first{
    border-radius: 4px 0 0 4px;
}
.pagination-bar .last{
    border-radius: 0 4px 4px 0;
    margin-right: 8px;
}
.pagination-bar .active{
    background-color: #414141 !important;
    background-image: -moz-linear-gradient(center top , #555555, #222222) !important;
    background-image: -ms-linear-gradient(top, #555555, #222222) !important;
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#555555), to(#222222)) !important;
    background-image: -webkit-linear-gradient(top, #555555, #222222) !important;
    background-image: -o-linear-gradient(top, #555555, #222222) !important;
    background-image: linear-gradient(top, #555555, #222222) !important;
    color: #ffffff !important;
    cursor: default !important;
    opacity: 1;
}
.pagination-bar a:hover {
    text-decoration: none;
}
.pagination-bar .ui-button-diable:hover{
    background-color: #f5f5f5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-image: -ms-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#ffffff), to(#e6e6e6));
    background-image: -webkit-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: -o-linear-gradient(top, #ffffff, #e6e6e6);
    background-image: linear-gradient(top, #ffffff, #e6e6e6);
    cursor: default !important;
}
.control-group .row{
    margin-left: 0px;
}